.header
{
    background-color: rgb(255, 0, 0);
    color: black;
    padding: 1%;
}
#logo
{
    font-size: 190%;
    font-weight: 600;
    margin-bottom: 3%;
}
.dropdown
{
    float: inline-end;
    background-color: red;
}
.dropdown-item
{
    font-size: 20px;
}
.profile
{
   border-radius: 7px;
   align-items: center;
}

.header2
{
 margin-top: 3%;
 background-color: rgb(229, 229, 229);
 padding: 2%;
 color: rgb(0, 0, 0);
 border-radius: 5px;
}
.footer{
 background-color: rgb(0, 0, 0);
 padding: 2%;
 color: aliceblue;
 border-radius: 5px;
}
*
{
    scroll-behavior: smooth;
}
.topbtn
{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    display: inline-flex;
    border: none;
    padding: 1rem;
    border-radius:50px;
    background-color: rgb(242, 226, 5);
}
.submit
{
    padding: 8px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #00fbff;
    font-weight: 700;
    width: 50%;
}